<ng-container *ngIf="artist">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ artist.name }}</mat-card-title>
      <mat-card-subtitle>
        Popularity: {{ artist.popularity }}
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="artist.images[0].url" alt="Photo of an artist" />
    <mat-card-content>
      <mat-list>
        <div mat-subheader>Genres</div>
        <mat-list-item *ngFor="let genre of artist.genres">
          {{ genre }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</ng-container>
