.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.search-full-width {
  width: 100%;
}

.grid{
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
  align-items: center;
  justify-content: center;
  display: grid;
  gap: 1rem;
}

.search-icon:hover{
  cursor: pointer;
}
